.form h4{
    color: var(--color-principal);
    font-size: 1.5rem;
}
.form-inputs{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;
}
.form-inputs input{
    width: 25rem;
    height: 2rem;
    border-radius: 12px;
    padding: 1rem;
    border: solid 1px var(--color-principal);
}

.form-buttons{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.form-button-confirm{
    background-color: var(--color-principal);
    color: var(--color-terciario);
    border: none;
    border-radius: 12px;
    padding: .5rem 2rem;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}

.form-button-confirm:hover{
    background-color: var(--color-secundario);
    color: var(--color-principal);
}

.form-button-clear{
    background-color: var(--color-terciario);
    color: var(--color-principal);
    border: none;
    border-radius: 12px;
    padding: .5rem 2rem;
    cursor: pointer;
}