@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.barra-navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color:var(--color-principal);
    align-items: center;
    position: sticky;
    top: 0;
}

.logo{
    font-family: Caveat;
    font-size: 2.5rem;
    padding-left: 4.5rem;
    color: var(--color-secundario)
}

.enlaces{
    display: flex;
    gap: 3rem; 
    font-family: Roboto;
    text-align: end;
}
a{
    text-decoration: none;
    color:var(--color-terciario)
}

.carrito{
    padding-right: 3rem;
}