.cart-item {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 1rem;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    max-width: 80%;
    margin: 0 auto;
}

.cart-imagen {
    width: 100px;
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.cart-imagen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-txt {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-txt h3{
    color: var(--color-principal);
}

.cart-item button{
    color: var(--color-principal);
    background: none;
    border: none;
    cursor: pointer;
}
